<div [formGroup]="parentForm" fxLayout="column">
    <mat-form-field appearance="fill">
        <mat-label>Category name</mat-label>
        <input matInput placeholder="Provide product's name" formControlName="name">
        <div *ngIf="name?.invalid && (name?.dirty || name?.touched)">
            <div *ngIf="name?.errors?.['required']">
                Product name is required
            </div>
            <div *ngIf="name?.errors?.['minlength']">
                Product name must be at least 4 characters long
            </div>
        </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput rows="20" placeholder="Provide product's description"
            formControlName="description"></textarea>
        <div *ngIf="description?.invalid && (description?.dirty || description?.touched)">
            <div *ngIf="description?.errors?.['required']">
                Product description is required
            </div>
            <div *ngIf="description?.errors?.['minlength']">
                Product description must be at least 4 characters long
            </div>
        </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>URL</mat-label>
        <input matInput placeholder="Provide product's URL" formControlName="slug">
        <div *ngIf="slug?.invalid && (slug?.dirty || slug?.touched)">
            <div *ngIf="slug?.errors?.['required']">
                Product slug URL is required
            </div>
            <div *ngIf="slug?.errors?.['minlength']">
                Product name must be at least 4 characters long
            </div>
        </div>
    </mat-form-field>

    <div fxLayoutAlign="end">
        <button mat-flat-button color="primary" [disabled]="parentForm.invalid">Save</button>
    </div>
</div>