<h1>Products</h1>
<mat-card *ngFor="let product of page?.content; let index">
    <div flexLayout="row">
        <div flexLayout="column" fxFlex>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{product.category}}</mat-card-subtitle>
            <div flexLayout="row">
                <div>
                    <img src="../../../assets//image-placeholder.png" mat-card-lg-image class="productImage">
                </div>
                <mat-card-content fxFlex class="productContent">{{product.description}}</mat-card-content>
            </div>
        </div>
        <div>
            <div class="productPrice">{{product.price.toFixed(2)}} {{product.currency}}</div>
        </div>
    </div>
    <mat-card-actions align="end" fxLayoutGap="10">
        <button mat-flat-button color="accent">Details</button>
        <button mat-flat-button color="primary">Add to cart</button>
    </mat-card-actions>
</mat-card>
<mat-paginator *ngIf="page && page.totalElements > 0" [length]="page.totalElements" [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 100]" aria-label="Select page" (page)="onPageEvent($event)">
</mat-paginator>