@import '../../../../variables.scss';

:host {
    background-color: $darkgray;
    padding: 20px;
    color: #aaa;
}

.footerCopy {
    text-align: center;
}
.footerMenu{
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
    margin-top: 15px;
}