:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    padding: 20px;
    background-color: #ddd
}

header {
    background-color: #292b31;
    padding: 20px;
}

.sidebar {
    background-color: #292b31;
    padding: 20px;
    a{
        color: #fff;
        text-decoration: none;
    }
}

mat-list-option {
    color: white;
}